@model IEnumerable<Remontyash.Models.Client>

@{
    ViewData["Title"] = "Index";
}
<div class="indexPage">
    <div class="title-block">
        <h1>Клиенты</h1>
        <a asp-action="Create">Создать</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ClientId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>