@model Remontyash.Models.Order

@{
    ViewData["Title"] = "Удаление заказа";
}
<div class="page">
    <div class="title-page">
        <div class="flex">
            <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
            <h2>Удаление заказа</h2>
        </div>
    </div>
    <div class="body-page">
        <form asp-action="Delete">
            <div class="header-wrapp"></div>
            <p class="dpn">
                Тип работ: @Html.DisplayFor(model => model.TypeJob.Description)
            </p>
            <p class="dpn">
                Клиент: @Html.DisplayFor(model => model.Client.Fio)
            </p>
            <p class="dpn">
                Сотрудник: @Html.DisplayFor(model => model.Emp.Fio)
            </p>
            <p class="dpn">
                @Html.DisplayNameFor(model => model.Accepted):
                @Html.DisplayFor(model => model.Accepted)
            </p>
            <p class="dpn">
                @Html.DisplayNameFor(model => model.Completed):
                @Html.DisplayFor(model => model.Completed);
            </p>
            <input type="hidden" asp-for="OrderId" />
            <div class="input-field submit-btn">
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<style>
    p{
        margin:0;
        
    }
</style>